<!-- Page Title -->
<div class="hun-section-page-title layout-1 set-color text-center off-parallax show-bg-img show-overlay-color show-space-bottom">
    <div class="inner-section">
        <div class="bg-section parallax100"><span class="inner-parallax" style="background-image: url(assets/images/page-title-01.jpg);"></span></div>

        <div class="container">
            <h2 class="main-title">
                CONTACT
            </h2>

            <ul class="breadcrumbs">
                <li>
                    <a href="#">
                        <span>Home</span>
                    </a>

                    <span class="breadcrumb-divider"></span>
                </li>

                <li>
                    <span> Contact</span>
                </li>
            </ul>	
        </div>
    </div>
</div>
<!-- end Page Title -->

<!-- Contact -->
<div class="hun-section-contact layout-1 show-space-bottom">
    <div class="inner-section">
        <div class="container">
            <div class="map-sec set-color">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.6214946526857!2d-73.65094340061779!3d40.77867185695751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c287d7029cf777%3A0xb67c29fa479631c5!2sWillis%20Ave%20%2B%20Hillturn%20La!5e0!3m2!1sen!2s!4v1578216554407!5m2!1sen!2s" allowfullscreen=""></iframe>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-sec">
                        <h3 class="title-sec">
                            Contact Details
                        </h3>

                        <div class="content-contact set-color hun-content-default">
                            <p>
                                ADDRESS: <br> 8th floor, 159 Hudson St, New York, NY 10018
                            </p>

                            <p>
                                PHONE: <br> <a href="#">(+1) 12 345 6789</a>
                            </p>

                            <p>
                                E-MAIL: <br> <a href="#">misoppe@example.com</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-sec">
                        <form class="form-contact set-color">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input class="input-field" type="text" placeholder="Name *">
                                </div>

                                <div class="col-sm-6">
                                    <input class="input-field" type="text" placeholder="E-mail *">
                                </div>

                                <div class="col-12">
                                    <textarea class="input-field" placeholder="Your Comments *"></textarea>

                                    <button class="hun-button size-normal shape-round style-fill-color">
                                        SEND MESSAGE
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Contact -->
