	<!-- Footer -->
	<footer class="hun-section-footer hun-footer layout-1 style-light">
		<div class="content-footer set-color">
			<div class="container">
				<div class="row">
					<div class="col-xl-5">
						<div class="widget">
							<h3 class="title-widget">
								ABOUT MISOPPE
							</h3>

							<div class="text-widget">
								<p style="max-width: 409px;">
									Any questions? Let us know in store at 8th floor, 159 Hudson St, New York, NY 10018 or call us on <a href="#">(+1) 12 345 6789</a>
								</p>

								<p>
									<img src="assets/images/icons/paypal.png" alt="IMG-PAYPAL">
									<img src="assets/images/icons/visa.png" alt="IMG-VISA">
									<img src="assets/images/icons/mastercard.png" alt="IMG-MASTERCARD">
									<img src="assets/images/icons/express.png" alt="IMG-EXPRESS">
									<img src="assets/images/icons/discover.png" alt="IMG-DISCOVER">
								</p>

								<div class="hun-element-social">
									<a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
									<a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
									<a href="#" class="social-link"><i class="fa fa-pinterest-p"></i></a>
									<a href="#" class="social-link"><i class="fa fa-youtube-play"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-4 col-xl-2">
						<div class="widget">
							<h3 class="title-widget">
								CATEGORIES
							</h3>

							<div class="text-widget">
								<ul>
									<li><a href="#">Men</a></li>
									<li><a href="#">Women</a></li>
									<li><a href="#">Dresses</a></li>
									<li><a href="#">Sunglasses</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-4 col-xl-2">
						<div class="widget">
							<h3 class="title-widget">
								HELP
							</h3>

							<div class="text-widget">
								<ul>
									<li><a href="#">Track Order</a></li>
									<li><a href="#">Returns</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">FAQs</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xl-3">
						<div class="widget">
							<h3 class="title-widget">
								NEWSLETTER
							</h3>

							<div class="text-widget">
								<div class="subscribe-form-01 set-color">
									<form>
										<label>
											<input type="text" placeholder="email@example.com">
										</label>

										<button>
											Subscribe
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright-footer set-color">
			<div class="contaner">
				<div class="content-copyright">
					Copyright © 2019 Mishop theme by <a href="#">HunThemes</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- end Footer -->
	
	<!-- Quickview Popup -->
	<div id="quickview-popup-01" class="hun-element-quickview-popup--type-1 mfp-hide">
		<div class="hun-element-detail-product--type-1">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-lg-6">
						<div class="images-product set-color">
							<div class="img-slider js-call-slick" data-custom-dots="true">
								<div class="slide-slick" data-slick='{"adaptiveHeight": true, "fade": true, "speed": 300, "dots": true, "arrows": false, "autoplay": false, "infinite": false, "slidesToShow": 1, "slidesToScroll": 1}'>

									<div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-1.jpg)"></span>'>
										<div class="wrap-img">
											<img src="assets/images/p-detail-01-1.jpg" alt="IMG">
										</div>
									</div>

									<div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-2.jpg)"></span>'>
										<div class="wrap-img">
											<img src="assets/images/p-detail-01-2.jpg" alt="IMG">
										</div>
									</div>

									<div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-3.jpg)"></span>'>
										<div class="wrap-img">
											<img src="assets/images/p-detail-01-3.jpg" alt="IMG">
										</div>
									</div>

									<div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-4.jpg)"></span>'>
										<div class="wrap-img">
											<img src="assets/images/p-detail-01-4.jpg" alt="IMG">
										</div>
									</div>

									<div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-5.jpg)"></span>'>
										<div class="wrap-img">
											<img src="assets/images/p-detail-01-5.jpg" alt="IMG">
										</div>
									</div>
								</div>

								<div class="dots-slick"></div>
							</div>
						</div>
					</div>

					<div class="col-md-7 col-lg-6">
						<div class="text-product">
							<h3 class="name-product">
								Navy Long Sleeve Shirt
							</h3>

							<div class="star-product">
								<span class="list-star">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-full"></i>
								</span>

								(9 customer reviews)
							</div>

							<div class="price-product">
								<span class="new-price">
									$32.85
								</span>

								<span class="old-price">
									$38.65
								</span>
							</div>

							<div class="description-product">
								<p>
									Etiam scelerisque sollicitudin diam, at posuere magna. Nullam nisi ipsum, consequat at pharetra at, volutpat id quam. Proin auctor quam ac sodales condimentum. Morbi pretium diam vel est laoreet commodo vel eu odio.
								</p>
							</div>

							<form class="cart-form">
								<div class="choose-options set-color">
									<table class="variations">
										<tbody>
											<tr>
												<td class="label">
													<label>Color</label>
												</td>

												<td class="value">
													<select>
														<option>Choose an option</option>
														<option>Blue</option>
														<option>Green</option>
														<option>Red</option>
													</select>						
												</td>
											</tr>

											<tr>
												<td class="label">
													<label>Size</label>
												</td>

												<td class="value">
													<select>
														<option>Choose an option</option>
														<option>Large</option>
														<option>Medium</option>
														<option>Small</option>
													</select>						
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="quantity-and-addcart set-color">
									<div class="quantity-product js-call-quantity">
										<span class="btn-num-product-down"></span>

										<input class="input-field" type="text" value="1">

										<span class="btn-num-product-up"></span>
									</div>

									<button class="btn-addcart">
										Add To Cart
									</button>
								</div>								
							</form>

							<div class="add-wishlist set-color">
								<a href="#" class="btn-addwish">
									+ Add to Wishlist 
								</a>
							</div>

							<ul class="meta-info set-color">
								<li>
									<span class="name-info">SKU:</span> MUG-01
								</li>

								<li>
									<span class="name-info">Categories:</span> <a href="#">Men</a>, <a href="#">Design</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>