<div class="hun-section-page-title layout-1 set-color text-center off-parallax show-bg-img show-overlay-color show-space-bottom">
    <div class="inner-section">
        <div class="bg-section parallax100"><span class="inner-parallax" style="background-image: url(assets/images/page-title-01.jpg);"></span></div>

        <div class="container">
            <h2 class="main-title">
                SHOP
            </h2>

            <ul class="breadcrumbs">
                <li>
                    <a href="#">
                        <span>Home</span>
                    </a>

                    <span class="breadcrumb-divider"></span>
                </li>

                <li>
                    <span> All Product</span>
                </li>
            </ul>	
        </div>
    </div>
</div>
<!-- end Page Title -->

<!-- All Products -->
<div class="hun-section-all-products layout-1 js-call-magnificpopup full-width outer-hun-element-product--type-1 price-color ratio-img-3-4 price-color show-space-bottom">
    <div class="inner-section">
        <div class="container">
          

            
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    
                    <div class="hun-element-product--type-1">
                        <a href="detail-product1.html" class="pic-product">
                            <span class="gallery-product">
                                
                                <span class="item-gal">
                                    <span class="image-gal" style="background-image: url(assets/images/p-18-1.jpg);"></span>	
                                </span>

                                <span class="item-gal">
                                    <span class="image-gal" style="background-image: url(assets/images/p-18-2.jpg);"></span>
                                </span>

                                <span class="item-gal">
                                    <span class="image-gal" style="background-image: url(assets/images/p-18-3.jpg);"></span>
                                </span>

                                <span class="item-gal">
                                    <span class="image-gal" style="background-image: url(assets/images/p-18-4.jpg);"></span>
                                </span>
                            </span>
                        </a>

                        <div class="text-product">
                            <h6 class="name-product set-color">
                                <a href="detail-product1.html">
                                    Black Patterned T-Shirt
                                </a>
                            </h6>

                            <div class="price-product set-color">
                                <span class="new-price">
                                    $32.65
                                </span>
                            </div>

                            <div class="star-product">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </div>
                        </div>

                        <div class="buttons-product">
                            <a href="#" class="btn-addcart set-color">
                                Add To Cart +
                            </a>

                            <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                <i class="icon-eye"></i>
                            </a>

                            <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons-section text-center">
                <a href="#" class="hun-button size-normal style-fill-color shape-round">
                    Load More
                </a>
            </div>

            <div class="loop-pagination set-color text-center d-none">
                <ul>
                    <li>
                        <a class="next page-numbers" href="#"><i class="icon ion-chevron-left"></i></a>
                    </li>

                    <li>
                        <span class="page-numbers current">1</span>
                    </li>

                    <li>
                        <a class="page-numbers" href="#">2</a>
                    </li> 

                    <li>
                        <a class="page-numbers" href="#">3</a>
                    </li>

                    <li>
                        <a class="next page-numbers" href="#"><i class="icon ion-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end All Products -->

<!-- Box Info -->
<div class="hun-section-box-info layout-1 full-width show-small-space-bottom">
    <div class="inner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item-box set-color">
                        <h4 class="title-box">
                            Free Delivery Worldwide
                        </h4>

                        <div class="description-box">
                             <a href="#">Click here for more info</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item-box set-color">
                        <h4 class="title-box">
                            30 Days Return
                        </h4>

                        <div class="description-box">
                            Simply return it within 30 days for an exchange.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item-box set-color">
                        <h4 class="title-box">
                            Store Opening
                        </h4>

                        <div class="description-box">
                            Shop open from Monday to Sunday.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Box Info -->