<div class="hun-section-mainslider layout-2 show-small-space-bottom">
    <div class="inner-section">
        <div class="main-slider set-color js-call-slick" data-animate="true">
            <div class="slide-slick" data-slick='{"fade": true, "speed": 900, "dots": false, "arrows": true, "autoplay": false, "autoplaySpeed": 5000, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1}'>

                <div class="item-slick full-height-with-header" style="background-image: url(assets/images/main-slider-07.jpg)">
                    <div class="content-slide container">
                        <div class="subtitle-slide" data-appear="fadeInDown" data-delay="0">
                            EASHOP
                        </div>

                        <h2 class="title-slide" data-appear="fadeInUp" data-delay="800">
                            NEW ARRIVALS
                        </h2>

                        <div class="buttons-slide" data-appear="zoomIn" data-delay="1600">
                            <a href="shop1.html" class="btn-slide">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="item-slick full-height-with-header" style="background-image: url(assets/images/main-slider-08.jpg)">
                    <div class="content-slide container">
                        <div class="subtitle-slide" data-appear="rollIn" data-delay="0">
                            Women Collection 2019
                        </div>

                        <h2 class="title-slide" data-appear="lightSpeedIn" data-delay="800">
                            NEW ARRIVALS
                        </h2>

                        <div class="buttons-slide" data-appear="slideInUp" data-delay="1600">
                            <a href="shop1.html" class="btn-slide">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="arrows-slick">
                <div class="container">
                    <div class="inner-arrows">
                        <a class="item-arrow prev-slick">Prev</a> 
                        <span>-</span>
                        <a class="item-arrow next-slick">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>