<div class="slide-home-04">
    <div class="response-product product-list-owl owl-slick equal-container better-height"
         data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
         data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
        <div class="slide-wrap">
            <img src="assets/images/banner5.jpg" alt="image" style="width:100%; height: 720px;">
        </div>
        <div class="slide-wrap">
            <img src="assets/images/banner6.jpg" alt="image" style="width:100%; height: 720px;">
        </div>
        <div class="slide-wrap">
            <img src="assets/images/banner4.jpg" alt="image" style="width:100%; height: 720px;">
        </div>
    </div>
</div>