<header class="hun-section-header hun-header layout-1 style-sticky style-overlay style-icon-2 use-img-logo">
    <div class="hun-element-toolbar--type-1 set-color">
        <div class="container">
            <div class="inner-toolbar">
                <div class="text-toolbar d-none d-md-block">
                    Free shipping for standard order over $100
                </div>

                <div class="group-features">
                    <div class="text-toolbar d-none d-md-block">
                        <a href="#">
                            misoppe@example.com
                        </a>
                    </div>

                    <div class="hun-element-account--type-1 set-color js-call-magnificpopup" data-popupinside="true">
                        <a class="btn-open btn-acc mfp-inline js-open-popup" href="#account-form-01">
                            Account
                        </a>

                        <div id="account-form-01" class="content-element mfp-hide">
                            <div class="tabs-account">
                                <!-- Login Tab -->
                                <input id="account-form-01-login" type="radio" class="toggle-tab" name="account-form-01-toggle" checked>
                                <label for="account-form-01-login" class="label-tab">Login</label>
                                <div class="content-tab">
                                    <h2 class="title-form">
                                        Login
                                    </h2>

                                    <form>
                                        <label>
                                            <input class="input-field" type="text" placeholder="Username or Email">
                                        </label>

                                        <label>
                                            <input class="input-field" type="password" placeholder="Password">
                                        </label>

                                        <label>
                                            <input type="checkbox">
                                            Remember me
                                        </label>

                                        <button>
                                            Sign In
                                        </button>
                                    </form>
                                </div>
                                
                                <!-- Register Tab -->
                                <input id="account-form-01-register" type="radio" class="toggle-tab" name="account-form-01-toggle">
                                <label for="account-form-01-register" class="label-tab">Register</label>
                                <div class="content-tab">
                                    <h2 class="title-form">
                                        Register
                                    </h2>

                                    <form>
                                        <label>
                                            <input class="input-field" type="text" placeholder="Username">
                                        </label>

                                        <label>
                                            <input class="input-field" type="text" placeholder="Email">
                                        </label>

                                        <label>
                                            <input class="input-field" type="text" placeholder="Password">
                                        </label>

                                        <label>
                                            <input class="input-field" type="text" placeholder="Confirm Password">
                                        </label>

                                        <button>
                                            Sign Up
                                        </button>
                                    </form>
                                </div>
                                
                                <!-- Lost Password Tab -->
                                <input id="account-form-01-lost-password" type="radio" class="toggle-tab" name="account-form-01-toggle">
                                <label for="account-form-01-lost-password" class="label-tab">Lost Password</label>
                                <div class="content-tab">
                                    <h2 class="title-form">
                                        Reset Password
                                    </h2>

                                    <form>
                                        <p class="description-form">
                                            Please enter your username or email address. You will receive a link to create a new password via email.
                                        </p>

                                        <label>
                                            <input class="input-field" type="text" placeholder="Username or Email">
                                        </label>

                                        <button>
                                            Reset Password
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hun-element-dropdown-menu--type-1">
                        USD

                        <ul class="sub-menu set-color">
                            <li>
                                <a href="#">
                                    USD
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    EUR
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="hun-element-dropdown-menu--type-1">
                        ENG

                        <ul class="sub-menu set-color">
                            <li>
                                <a href="#">
                                    English
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    French
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Japan
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-header">
        <div class="wrapper-header element-for-stick">
            <div class="container">
                <div class="logo-header">
                    <a href="#" class="text-logo set-color"></a>

                    <a href="home1.html" class="main-logo">
                        <img src="assets/images/icons/your-logo.png" alt="LOGO">
                    </a>

                  
                </div>

                <nav class="main-navigation">
                    <ul class="list-menu set-color">
                        <ng-container *ngFor="let it of item">
                            <li id="menu-item-230"
                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230 parent parent-megamenu item-megamenu menu-item-has-children">
                                <a class="kreen-menu-item-title" title="Home" href="#" [routerLink] = "[it.url]">{{it.tenDM}}</a>                                       
                                <span class="toggle-submenu"></span>  
                                <!-- <ng-container *ngFor="let itldm of itemldm">                                        
                                    <ul role="menu" class="submenu" *ngIf="it.madm == itldm.madm?true:false" >    
                                        <ng-container *ngFor="let itldm of itemldm">                  
                                            <li *ngIf="it.madm == itldm.madm?true:false" id="menu-item-987"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987">
                                                <a class="kreen-menu-item-title" title="About"
                                                href="#" [routerLink] = "['sanpham',itldm.maloai]">{{itldm.tenloai}}</a></li>   
                                        </ng-container>                                         
                                    </ul>  
                                </ng-container>                   -->
                            </li>
                        </ng-container>  
                    </ul>
                </nav>

                <div class="group-feature">
                    <div class="hun-element-search--type-1 set-color js-call-search">
                        <span class="btn-open search-open">
                            <i class="icon ion-android-search"></i>
                        </span>

                        <div class="search-form">
                            <span class="search-close"><i>×</i></span>

                            <form role="search" method="get" action="http://hunthemes.com/wplabore/">
                                <input type="search" class="search-field set-color" value="" name="s" required="">
                                <span class="search-notice">Hit enter to search or ESC to close</span>
                            </form>

                            <ul class="list-result"></ul>
                        </div>
                    </div>

                    <div class="hun-element-cart--type-1 set-color">
                        <a href="cart.html" class="btn-open btn-cart" data-count-cart="2">
                            <i class="icon ion-android-cart"></i>
                        </a>

                        <div class="content-cart">
                            <div class="total-cart">
                                <span class="text-total">Total:</span>

                                <span class="number-total">$108.00</span>
                            </div>

                            <div class="products-cart">
                                <div class="item-product">
                                    <a href="#" class="content-item">
                                        <span class="pic-product" style="background-image: url(assets/images/p-06-1.jpg);"></span>

                                        <span class="name-product">
                                            Neck Tie Satin Blouse
                                        </span>

                                        <span class="num-price-product">
                                            2 <span class="multiply-mark">×</span> $25.00
                                        </span>
                                    </a>

                                    <a href="#" class="remove-item">×</a>
                                </div>

                                <div class="item-product">
                                    <a href="#" class="content-item">
                                        <span class="pic-product" style="background-image: url(assets/images/p-16-1.jpg);"></span>

                                        <span class="name-product">
                                            Navy Long Sleeve Shirt
                                        </span>

                                        <span class="num-price-product">
                                            2 <span class="multiply-mark">×</span> $25.00
                                        </span>
                                    </a>

                                    <a href="#" class="remove-item">×</a>
                                </div>
                            </div>

                            <div class="buttons-cart">
                                <a href="#" class="btn-checkout">
                                    Checkout
                                </a>

                                <a href="cart.html" class="btn-viewcart">
                                    View Cart
                                </a>
                            </div>	
                        </div>
                    </div>

                    <div class="hun-element-wish--type-1 set-color">
                        <a href="wishlist.html" class="btn-open btn-wish" data-count-wish="2">
                            <i class="icon ion-android-favorite-outline"></i>
                        </a>
                    </div>

                    <div class="hun-menu-mobile set-color">
                        <a href="#" class="btn-toggle-menu"><span></span></a>

                        <div class="mobile-navigation">
                            <nav class="mobile-menu">
                                <ul class="list-menu set-color">
                                    <li class="menu-item menu-item-has-children current-menu-item">
                                        <a href="#">
                                            Home
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="home1.html">Home 01</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="home2.html">Home 02</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="home3.html">Home 03</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="home4.html">Home 04</a>
                                            </li>												
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">
                                            Shop
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="shop1.html">Shop 01</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="shop2.html">Shop 02</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="onsale.html">Shop On Sale</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="detail-product1.html">Detail Product 01</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="detail-product2.html">Detail Product 02</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="cart.html">Shopping Cart</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="wishlist.html">Wishlist</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">
                                            Pages
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="about.html">About</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="coming-soon.html">Coming Soon</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children mega-menu set-6-col">
                                        <a href="#">Mega</a>

                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    WOMEN
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Dress</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Skirt</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    MEN
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Hoodie</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Coats</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    YOUTH
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Dress</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Skirt</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    KIDS
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Dress</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Skirt</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    BABY
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Hoodie</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Coats</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    ACCESSORIES
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Bags</a></li>
                                                    <li class="menu-item"><a href="#">Sunglasses</a></li>
                                                    <li class="menu-item"><a href="#">Belts</a></li>
                                                    <li class="menu-item"><a href="#">Watchs</a></li>
                                                    <li class="menu-item"><a href="#">Hats</a></li>
                                                    <li class="menu-item"><a href="#">Wallets</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="blog-list.html">
                                            Blog
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="blog-list.html">Blog List</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="blog-grid.html">Blog Grid</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="blog-detail.html">Detail Blog</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item">
                                        <a href="contact.html">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </nav>					
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>