<header class="hun-section-header hun-header layout-1 style-sticky style-overlay style-icon-2 use-img-logo">
    <div class="hun-element-toolbar--type-1 set-color">
        <div class="container">
           
        </div>
    </div>

    <div class="container-header">
        <div class="wrapper-header element-for-stick">
            <div class="container">
                <div class="logo-header">
                    <a href="#" class="text-logo set-color"></a>

                    <a href="#" class="main-logo">
                        <img src="assets/images/icons/your-logo.png" alt="LOGO">
                    </a>

                  
                </div>

                <nav class="main-navigation">
                    <ul class="list-menu set-color">
                        <ng-container *ngFor="let it of item">
                            <li id="menu-item-230"
                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230 parent parent-megamenu item-megamenu menu-item-has-children">
                                <a class="kreen-menu-item-title" title="Home" href="#" [routerLink] = "[it.url]">{{it.tenDM}}</a>                                       
                                <span class="toggle-submenu"></span>  
                                <!-- <ng-container *ngFor="let itldm of itemldm">                                        
                                    <ul role="menu" class="submenu" *ngIf="it.madm == itldm.madm?true:false" >    
                                        <ng-container *ngFor="let itldm of itemldm">                  
                                            <li *ngIf="it.madm == itldm.madm?true:false" id="menu-item-987"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987">
                                                <a class="kreen-menu-item-title" title="About"
                                                href="#" [routerLink] = "['sanpham',itldm.maloai]">{{itldm.tenloai}}</a></li>   
                                        </ng-container>                                         
                                    </ul>  
                                </ng-container>                   -->
                            </li>
                        </ng-container>  
                    </ul>
                </nav>

                <div class="group-feature">
                    <div class="hun-element-search--type-1 set-color js-call-search">
                        <span class="btn-open search-open">
                            <i class="icon ion-android-search"></i>
                        </span>

                        <div class="search-form">
                            <span class="search-close"><i>×</i></span>

                            <form role="search" method="get" action="http://hunthemes.com/wplabore/">
                                <input type="search" class="search-field set-color" value="" name="s" required="">
                                <span class="search-notice">Hit enter to search or ESC to close</span>
                            </form>

                            <ul class="list-result"></ul>
                        </div>
                    </div>

                    <div class="hun-element-cart--type-1 set-color">
                        <a href="cart.html" class="btn-open btn-cart" >
                            <i class="icon ion-android-cart"></i>
                            
                        </a>

                        <div class="content-cart">
                            <div class="total-cart">
                                <span class="text-total">Total:</span>

                                <span class="number-total">{{totalprice}}</span>
                            </div>

                            <div class="products-cart">
                                <div class="item-product">
                                    <a href="#" class="content-item">
                                        <ng-container *ngFor="let sp of itemcart">
                                            <li class="kreen-mini-cart-item mini_cart_item">
                                                <a href="javascrpit:void(0)" (click)="deleteCart(sp.iD_SP)" class="remove remove_from_cart_button">×</a>
                                                <a href="#">
                                                    <img src="../../../../assets/images/sanpham/{{sp.anh_SP}}"
                                                         class="attachment-kreen_thumbnail size-kreen_thumbnail"
                                                         alt="img" width="100" height="100">{{sp.ten_SP}}&nbsp;
                                                </a>
                                                <span class="quantity">{{sp.soluong}} × <span
                                                        class="kreen-Price-amount amount"><span
                                                        class="kreen-Price-currencySymbol"></span>{{sp.gia}}</span>VNĐ</span>
                                            </li>
                                        </ng-container>
                                    </a>

                                    <a href="#" class="remove-item">×</a>
                                </div>

                              
                            </div>

                            <div class="buttons-cart">
                                <a href="#" class="btn-checkout">
                                    Checkout
                                </a>

                                <a href="cart.html" class="btn-viewcart">
                                    View Cart
                                </a>
                            </div>	
                        </div>
                    </div>

                    <div class="hun-element-wish--type-1 set-color">
                        <a href="wishlist.html" class="btn-open btn-wish" data-count-wish="2">
                            <i class="icon ion-android-favorite-outline"></i>
                        </a>
                    </div>

                    <div class="hun-menu-mobile set-color">
                        <a href="#" class="btn-toggle-menu"><span></span></a>

                        <div class="mobile-navigation">
                            <nav class="mobile-menu">
                                <ul class="list-menu set-color">
                                    <li class="menu-item menu-item-has-children current-menu-item">
                                        <a href="#">
                                            Home
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="home1.html">Home 01</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="home2.html">Home 02</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="home3.html">Home 03</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="home4.html">Home 04</a>
                                            </li>												
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">
                                            Shop
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="shop1.html">Shop 01</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="shop2.html">Shop 02</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="onsale.html">Shop On Sale</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="detail-product1.html">Detail Product 01</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="detail-product2.html">Detail Product 02</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="cart.html">Shopping Cart</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="wishlist.html">Wishlist</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">
                                            Pages
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="about.html">About</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="coming-soon.html">Coming Soon</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children mega-menu set-6-col">
                                        <a href="#">Mega</a>

                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    WOMEN
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Dress</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Skirt</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    MEN
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Hoodie</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Coats</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    YOUTH
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Dress</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Skirt</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    KIDS
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Dress</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Skirt</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    BABY
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Hoodie</a></li>
                                                    <li class="menu-item"><a href="#">Shirt</a></li>
                                                    <li class="menu-item"><a href="#">T-Shirt</a></li>
                                                    <li class="menu-item"><a href="#">Jacket</a></li>
                                                    <li class="menu-item"><a href="#">Coats</a></li>
                                                    <li class="menu-item"><a href="#">Shoes</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    ACCESSORIES
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Bags</a></li>
                                                    <li class="menu-item"><a href="#">Sunglasses</a></li>
                                                    <li class="menu-item"><a href="#">Belts</a></li>
                                                    <li class="menu-item"><a href="#">Watchs</a></li>
                                                    <li class="menu-item"><a href="#">Hats</a></li>
                                                    <li class="menu-item"><a href="#">Wallets</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="blog-list.html">
                                            Blog
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="blog-list.html">Blog List</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="blog-grid.html">Blog Grid</a>
                                            </li>

                                            <li class="menu-item">
                                                <a href="blog-detail.html">Detail Blog</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item">
                                        <a href="contact.html">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </nav>					
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>