<!-- Breadcrumbs -->
<div class="hun-section-breadcrumbs layout-1 set-color">
    <div class="inner-section">
        <div class="container">
            <ul class="breadcrumbs">
                <!-- <li>
                    <a href="#">
                        <span>Home</span>
                    </a>

                    <span class="breadcrumb-divider"></span>
                </li>

                <li>
                    <a href="#">
                        <span>Men</span>
                    </a>

                    <span class="breadcrumb-divider"></span>
                </li>

                <li>
                    <span> Navy Long Sleeve Shirt</span>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<!-- end Breadcrumbs -->

<!-- Detail Product -->
<div class="hun-section-detail-product layout-1 show-space-bottom">
    <div class="inner-section">
        <div class="hun-element-detail-product--type-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="images-product set-color">
                            <div class="img-slider js-call-slick" data-custom-dots="true">
                                    <img alt="img"
                                         src="../../../../assets/images/sanpham/{{ct.anh_SP}}"
                                         alt="Cherry tomato" style="width: 400px; height: 500px;">
                                <div class="dots-slick"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-product">
                            <h3 class="name-product">
                                <h1 class="product_title entry-title">{{ct.ten_SP}}</h1>
                            </h3>

                            <div class="star-product">
                                <span class="list-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </span>

                                (9 customer reviews)
                            </div>

                            <div class="price-product">
                                <span class="new-price">
                                   {{ct.gia | currency : "VNĐ"}}
                                </span>

                                <span class="old-price">
                                   
                                </span>
                            </div>

                            <div class="description-product">
                                <p>
                                    Nunc vel est orci. Praesent semper sapien id urna ultrices, non ultrices tortor sollicitudin. Aenean ullamcorper risus metus, id rutrum elit aliquam quis. 
                                </p>

                                <p>
                                    Etiam scelerisque sollicitudin diam, at posuere magna. Nullam nisi ipsum, consequat at pharetra at, volutpat id quam. Proin auctor quam ac sodales condimentum. Morbi diam vel est laoreet commodo vel eu odio.
                                </p>
                            </div>

                            <form class="cart-form">
                                <div class="choose-options set-color">
                                    <table class="variations">
                                        <tbody>
                                            <tr>
                                                <td class="label">
                                                    <label>Color</label>
                                                </td>

                                                <td class="value">
                                                    <select>
                                                        <option>Choose an option</option>
                                                        <option>Blue</option>
                                                        <option>Green</option>
                                                        <option>Red</option>
                                                    </select>						
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="label">
                                                    <label>Size</label>
                                                </td>

                                                <td class="value">
                                                    <select>
                                                        <option>Choose an option</option>
                                                        <option>Large</option>
                                                        <option>Medium</option>
                                                        <option>Small</option>
                                                    </select>						
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="quantity-and-addcart set-color">
                                    <div class="quantity-product js-call-quantity">
                                        <!-- <span class="btn-num-product-down"></span>

                                     <input class="input-field" type="number" value="1">
                                         <td class="input-field" type="number" ><input #inp  min="1" max="100" (change)="addQty(ct,inp.value)" [value]="ct.quantity" type="number"></td> -->

                                        <!--span class="btn-num-product-up"></span> -->
                                    </div>

                                    
                                    <button class="btn-addcart" type="button" (click)="add_cart(ct)">
                                        Add To Cart
                                    </button>
                                </div>								
                            </form>

                            <div class="add-wishlist set-color">
                                <a href="#" class="btn-addwish">
                                    + Add to Wishlist 
                                </a>
                            </div>

                            <ul class="meta-info set-color">
                                <li>
                                    <span class="name-info">SKU:</span> MUG-01
                                </li>

                                <li>
                                    <span class="name-info">Categories:</span> <a href="#">Men</a>, <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="more-info-product">
                            <div class="tab-info set-color js-call-slick" data-custom-dots="true">
                                <div class="dots-slick"></div>

                                <div class="slide-slick" data-slick='{"adaptiveHeight": true, "fade": true, "speed": 300, "dots": true, "arrows": false, "autoplay": false, "autoplaySpeed": 5000, "infinite": false, "slidesToShow": 1, "slidesToScroll": 1}'>
                                    <div class="item-slick" data-inner-dot='Description'>
                                        <div class="content-more-info">
                                            <p>
                                                Proin vel nulla dapibus, hendrerit ligula vel, euismod ante. In id diam ipsum. Cras ac sem mi. Proin non finibus augue. In vestibulum sollicitudin auctor. Integer tortor metus, condimentum ac sapien id, feugiat scelerisque quam. Ut molestie tellus eu nisl suscipit, eu eleifend sapien egestas. Suspendisse tempor sed orci non accumsan.
                                            </p>

                                            <p>
                                                Sed at nulla non nunc aliquet pretium. Integer sagittis lorem vel purus rutrum efficitur. Aenean eu justo sed risus blandit semper quis vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus ante in metus congue, a pellentesque nulla placerat. Nulla ut magna at mi lobortis mattis. Quisque et tempus nisi. Maecenas cursus elementum hendrerit. Fusce nec semper dui. Suspendisse ac lacus libero. Vestibulum placerat, massa a bibendum tempus, quam dolor pulvinar neque, eu vulputate enim velit vitae ante. Fusce sed elementum ligula, id semper sapien. Nulla facilisi.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='Additional information'>
                                        <div class="content-more-info">
                                            <p>
                                                Sed at nulla non nunc aliquet pretium. Integer sagittis lorem vel purus rutrum efficitur. Aenean eu justo sed risus blandit semper quis vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus ante in metus congue, a pellentesque nulla placerat. Nulla ut magna at mi lobortis mattis. Quisque et tempus nisi. Maecenas cursus elementum hendrerit. Fusce nec semper dui. Suspendisse ac lacus libero. Vestibulum placerat, massa a bibendum tempus, quam dolor pulvinar neque, eu vulputate enim velit vitae ante. Fusce sed elementum ligula, id semper sapien. Nulla facilisi.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='Reviews (1)'>
                                        <div class="content-more-info">
                                            <p>
                                                Proin vel nulla dapibus, hendrerit ligula vel, euismod ante. In id diam ipsum. Cras ac sem mi. Proin non finibus augue. In vestibulum sollicitudin auctor. Integer tortor metus, condimentum ac sapien id, feugiat scelerisque quam. Ut molestie tellus eu nisl suscipit, eu eleifend sapien egestas. Suspendisse tempor sed orci non accumsan.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Detail Product -->

<!-- Products -->

<!-- end Products -->