<!-- Breadcrumbs -->
<div class="hun-section-breadcrumbs layout-1 set-color">
    <div class="inner-section">
        <div class="container">
            <ul class="breadcrumbs">
                <li>
                    <a href="#">
                        <span>Home</span>
                    </a>

                    <span class="breadcrumb-divider"></span>
                </li>

                <li>
                    <a href="#">
                        <span>Men</span>
                    </a>

                    <span class="breadcrumb-divider"></span>
                </li>

                <li>
                    <span> Navy Long Sleeve Shirt</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end Breadcrumbs -->

<!-- Detail Product -->
<div class="hun-section-detail-product layout-1 show-space-bottom">
    <div class="inner-section">
        <div class="hun-element-detail-product--type-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="images-product set-color">
                            <div class="img-slider js-call-slick" data-custom-dots="true">
                                <div class="slide-slick js-call-magnificpopup" data-slick='{"adaptiveHeight": true, "fade": true, "speed": 300, "dots": true, "arrows": false, "autoplay": false, "infinite": false, "slidesToShow": 1, "slidesToScroll": 1}' data-gallery="true" data-verticalfit="false">

                                    <div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-1.jpg)"></span>'>
                                        <div class="wrap-img">
                                            <img src="assets/images/p-detail-01-1.jpg" alt="IMG">

                                            <a class="popup-img mfp-image js-open-popup" href="assets/images/p-detail-01-1.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-2.jpg)"></span>'>
                                        <div class="wrap-img">
                                            <img src="assets/images/p-detail-01-2.jpg" alt="IMG">

                                            <a class="popup-img mfp-image js-open-popup" href="assets/images/p-detail-01-2.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-3.jpg)"></span>'>
                                        <div class="wrap-img">
                                            <img src="assets/images/p-detail-01-3.jpg" alt="IMG">

                                            <a class="popup-img mfp-image js-open-popup" href="assets/images/p-detail-01-3.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-4.jpg)"></span>'>
                                        <div class="wrap-img">
                                            <img src="assets/images/p-detail-01-4.jpg" alt="IMG">

                                            <a class="popup-img mfp-image js-open-popup" href="assets/images/p-detail-01-4.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='<span class="inner-dot" class="img-dot" style="background-image: url(assets/images/p-detail-01-5.jpg)"></span>'>
                                        <div class="wrap-img">
                                            <img src="assets/images/p-detail-01-5.jpg" alt="IMG">

                                            <a class="popup-img mfp-image js-open-popup" href="assets/images/p-detail-01-5.jpg"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="dots-slick"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-product">
                            <h3 class="name-product">
                                Navy Long Sleeve Shirt
                            </h3>

                            <div class="star-product">
                                <span class="list-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </span>

                                (9 customer reviews)
                            </div>

                            <div class="price-product">
                                <span class="new-price">
                                    $32.85
                                </span>

                                <span class="old-price">
                                    $38.65
                                </span>
                            </div>

                            <div class="description-product">
                                <p>
                                    Nunc vel est orci. Praesent semper sapien id urna ultrices, non ultrices tortor sollicitudin. Aenean ullamcorper risus metus, id rutrum elit aliquam quis. 
                                </p>

                                <p>
                                    Etiam scelerisque sollicitudin diam, at posuere magna. Nullam nisi ipsum, consequat at pharetra at, volutpat id quam. Proin auctor quam ac sodales condimentum. Morbi diam vel est laoreet commodo vel eu odio.
                                </p>
                            </div>

                            <form class="cart-form">
                                <div class="choose-options set-color">
                                    <table class="variations">
                                        <tbody>
                                            <tr>
                                                <td class="label">
                                                    <label>Color</label>
                                                </td>

                                                <td class="value">
                                                    <select>
                                                        <option>Choose an option</option>
                                                        <option>Blue</option>
                                                        <option>Green</option>
                                                        <option>Red</option>
                                                    </select>						
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="label">
                                                    <label>Size</label>
                                                </td>

                                                <td class="value">
                                                    <select>
                                                        <option>Choose an option</option>
                                                        <option>Large</option>
                                                        <option>Medium</option>
                                                        <option>Small</option>
                                                    </select>						
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="quantity-and-addcart set-color">
                                    <div class="quantity-product js-call-quantity">
                                        <span class="btn-num-product-down"></span>

                                        <input class="input-field" type="number" value="1">

                                        <span class="btn-num-product-up"></span>
                                    </div>

                                    <button class="btn-addcart">
                                        Add To Cart
                                    </button>
                                </div>								
                            </form>

                            <div class="add-wishlist set-color">
                                <a href="#" class="btn-addwish">
                                    + Add to Wishlist 
                                </a>
                            </div>

                            <ul class="meta-info set-color">
                                <li>
                                    <span class="name-info">SKU:</span> MUG-01
                                </li>

                                <li>
                                    <span class="name-info">Categories:</span> <a href="#">Men</a>, <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="more-info-product">
                            <div class="tab-info set-color js-call-slick" data-custom-dots="true">
                                <div class="dots-slick"></div>

                                <div class="slide-slick" data-slick='{"adaptiveHeight": true, "fade": true, "speed": 300, "dots": true, "arrows": false, "autoplay": false, "autoplaySpeed": 5000, "infinite": false, "slidesToShow": 1, "slidesToScroll": 1}'>
                                    <div class="item-slick" data-inner-dot='Description'>
                                        <div class="content-more-info">
                                            <p>
                                                Proin vel nulla dapibus, hendrerit ligula vel, euismod ante. In id diam ipsum. Cras ac sem mi. Proin non finibus augue. In vestibulum sollicitudin auctor. Integer tortor metus, condimentum ac sapien id, feugiat scelerisque quam. Ut molestie tellus eu nisl suscipit, eu eleifend sapien egestas. Suspendisse tempor sed orci non accumsan.
                                            </p>

                                            <p>
                                                Sed at nulla non nunc aliquet pretium. Integer sagittis lorem vel purus rutrum efficitur. Aenean eu justo sed risus blandit semper quis vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus ante in metus congue, a pellentesque nulla placerat. Nulla ut magna at mi lobortis mattis. Quisque et tempus nisi. Maecenas cursus elementum hendrerit. Fusce nec semper dui. Suspendisse ac lacus libero. Vestibulum placerat, massa a bibendum tempus, quam dolor pulvinar neque, eu vulputate enim velit vitae ante. Fusce sed elementum ligula, id semper sapien. Nulla facilisi.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='Additional information'>
                                        <div class="content-more-info">
                                            <p>
                                                Sed at nulla non nunc aliquet pretium. Integer sagittis lorem vel purus rutrum efficitur. Aenean eu justo sed risus blandit semper quis vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus ante in metus congue, a pellentesque nulla placerat. Nulla ut magna at mi lobortis mattis. Quisque et tempus nisi. Maecenas cursus elementum hendrerit. Fusce nec semper dui. Suspendisse ac lacus libero. Vestibulum placerat, massa a bibendum tempus, quam dolor pulvinar neque, eu vulputate enim velit vitae ante. Fusce sed elementum ligula, id semper sapien. Nulla facilisi.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item-slick" data-inner-dot='Reviews (1)'>
                                        <div class="content-more-info">
                                            <p>
                                                Proin vel nulla dapibus, hendrerit ligula vel, euismod ante. In id diam ipsum. Cras ac sem mi. Proin non finibus augue. In vestibulum sollicitudin auctor. Integer tortor metus, condimentum ac sapien id, feugiat scelerisque quam. Ut molestie tellus eu nisl suscipit, eu eleifend sapien egestas. Suspendisse tempor sed orci non accumsan.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Detail Product -->

<!-- Products -->
<div class="hun-section-products layout-slider js-call-magnificpopup hide-link-view-all outer-hun-element-product--type-1 price-color ratio-img-3-4 show-space-bottom">
    <div class="inner-section">
        <div class="container">
            <div class="heading-section">
                <h3 class="title-sec">
                    Related Products
                </h3>
            </div>

            <div class="slide-section js-call-slick">
                <div class="slide-slick" data-slick='{"dots": false, "arrows": true, "autoplay": false, "infinite": false, "slidesToShow": 4, "slidesToScroll": 4, "responsive": [{"breakpoint": 1199, "settings": {"slidesToShow": 3, "slidesToScroll": 3}}, {"breakpoint": 991, "settings": {"slidesToShow": 2, "slidesToScroll": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}, {"breakpoint": 575, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-18-1.jpg);"></span>	
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-18-2.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-18-3.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-18-4.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Black Patterned T-Shirt
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <div class="labels-product set-color">
                                <span class="item-label label-new">New</span>
                            </div>

                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-04-1.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-04-2.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-04-3.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Black Ribbed Bodysuit
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-06-1.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-06-2.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-06-3.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-06-4.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Neck Tie Satin Blouse
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-05-3.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-05-2.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-05-1.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Black Blouse
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-21-1.jpg);"></span>	
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-21-2.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-21-3.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Pocket Detailed T-Shirt
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-09-1.jpg);"></span>	
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-09-3.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-09-4.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Blue Classic Neck Shirt
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-10-1.jpg);"></span>	
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-10-2.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-10-3.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Navy Fur Coat
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item-slick">
                        <div class="hun-element-product--type-1">
                            <a href="detail-product1.html" class="pic-product">
                                <span class="gallery-product">
                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-16-1.jpg);"></span>	
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-16-2.jpg);"></span>
                                    </span>

                                    <span class="item-gal">
                                        <span class="image-gal" style="background-image: url(assets/images/p-16-3.jpg);"></span>
                                    </span>
                                </span>
                            </a>

                            <div class="text-product">
                                <h6 class="name-product set-color">
                                    <a href="detail-product1.html">
                                        Navy Long Sleeve Shirt
                                    </a>
                                </h6>

                                <div class="price-product set-color">
                                    <span class="new-price">
                                        $32.65
                                    </span>
                                </div>

                                <div class="star-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="buttons-product">
                                <a href="#" class="btn-addcart set-color">
                                    Add To Cart +
                                </a>

                                <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                    <i class="icon-eye"></i>
                                </a>

                                <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="arrows-slick">
                    <a class="item-arrow prev-slick set-color"></a>
                    <a href="#" class="link-view-all set-color">View All Products</a>
                    <a class="item-arrow next-slick set-color"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Products -->