<div class="hun-section-mainslider layout-2 show-small-space-bottom">
    <div class="inner-section">
        <div class="main-slider set-color js-call-slick" data-animate="true">
            <div class="slide-slick" data-slick='{"fade": true, "speed": 900, "dots": false, "arrows": true, "autoplay": false, "autoplaySpeed": 5000, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1}'>

                <div class="item-slick full-height-with-header" style="background-image: url(assets/images/main-slider-07.jpg)">
                    <div class="content-slide container">
                        <div class="subtitle-slide" data-appear="fadeInDown" data-delay="0">
                            Women Collection 2019
                        </div>

                        <h2 class="title-slide" data-appear="fadeInUp" data-delay="800">
                            NEW ARRIVALS
                        </h2>

                        <div class="buttons-slide" data-appear="zoomIn" data-delay="1600">
                            <a href="#" class="btn-slide">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>

                <!-- <div class="item-slick full-height-with-header" style="background-image: url(assets/images/main-slider-08.jpg)">
                    <div class="content-slide container">
                        <div class="subtitle-slide" data-appear="rollIn" data-delay="0">
                            Women Collection 2019
                        </div>

                        <h2 class="title-slide" data-appear="lightSpeedIn" data-delay="800">
                            NEW ARRIVALS
                        </h2>

                        <div class="buttons-slide" data-appear="slideInUp" data-delay="1600">
                            <a href="shop1.html" class="btn-slide">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="arrows-slick">
                <div class="container">
                    <div class="inner-arrows">
                        <a class="item-arrow prev-slick">Prev</a> 
                        <span>-</span>
                        <a class="item-arrow next-slick">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end Categoties -->

<!-- Products -->
<div class="hun-section-products layout-tab js-call-magnificpopup outer-hun-element-product--type-1 price-color ratio-img-3-4 show-space-bottom">
    <div class="inner-section">
        <div class="container">
            <div class="heading-section text-center">
                <h3 class="title-sec">
                    Product Overview
                </h3>
            </div>
            <div class="hun-section-all-products layout-1 js-call-magnificpopup full-width outer-hun-element-product--type-1 price-color ratio-img-3-4 price-color show-space-bottom">
                <div class="inner-section">
                    <div class="container">            
                        <div class="row">
                            <ng-container *ngFor="let it of allitem">
                                
                                <div class="col-md-6 col-lg-4 col-xl-3">                   
                               
                                    <div class="hun-element-product--type-1">
                                    <a href="detail-product1.html" class="pic-product">
                                        <span class="gallery-product">
                                          
                                            <a class="thumb-link" href="#"[routerLink] = "['/chitietsanpham',it.iD_SP]">
                                                <img class="img-responsive"
                                                     src="../../../../assets/images/sanpham/{{it.anh_SP}}"
                                                     alt="Cherry tomato" style="width: 250px; height: 300px;margin: auto;">
                                            </a>
                                        </span>
                                    </a>
            
                                    <div class="text-product">
                                        <h6 class="name-product set-color">
                                          
                                                <a href="#" [routerLink] = "['/chitietsanpham',it.iD_SP]" >{{it.ten_SP}}</a>
                                            
                                        </h6>
            
                                        <div class="price-product set-color">
                                            <a href="#">{{it.gia}}</a>
                                        </div>
            
                                        <div class="star-product">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-full"></i>
                                        </div>
                                    </div>
            
                                    <div class="buttons-product">
                                        <a href="#" class="btn-addcart set-color">
                                            Add To Cart +
                                        </a>
            
                                        <a class="btn-quickview set-color mfp-inline js-open-popup" href="#quickview-popup-01" title="Quick View">
                                            <i class="icon-eye"></i>
                                        </a>
            
                                        <a href="#" class="btn-addwish set-color" title="Add To Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                        </a>
                                    </div>
                                    </div>
                               
                                </div>
                            </ng-container>
                        </div>
            
                        <div class="buttons-section text-center">
                            <a href="#" class="hun-button size-normal style-fill-color shape-round">
                                Load More
                            </a>
                        </div>
            
                        <div class="loop-pagination set-color text-center d-none">
                            <ul>
                                <li>
                                    <a class="next page-numbers" href="#"><i class="icon ion-chevron-left"></i></a>
                                </li>
            
                                <li>
                                    <span class="page-numbers current">1</span>
                                </li>
            
                                <li>
                                    <a class="page-numbers" href="#">2</a>
                                </li> 
            
                                <li>
                                    <a class="page-numbers" href="#">3</a>
                                </li>
            
                                <li>
                                    <a class="next page-numbers" href="#"><i class="icon ion-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           

            <div class="link-view-all">
                <a href="shop1.html" class="set-color">View All Products</a>
            </div>
        </div>
    </div>
</div>
<!-- end Products -->

<!-- Box Info -->
<div class="hun-section-box-info layout-1 show-small-space-bottom">
    <div class="inner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item-box set-color">
                        <h4 class="title-box">
                            Free Delivery Worldwide
                        </h4>

                        <div class="description-box">
                             <a href="#">Click here for more info</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item-box set-color">
                        <h4 class="title-box">
                            30 Days Return
                        </h4>

                        <div class="description-box">
                            Simply return it within 30 days for an exchange.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item-box set-color">
                        <h4 class="title-box">
                            Store Opening
                        </h4>

                        <div class="description-box">
                            Shop open from Monday to Sunday.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Box Info -->