<!-- Page Title -->
<div class="hun-section-page-title layout-1 set-color text-center off-parallax show-bg-img show-overlay-color show-space-bottom">
    <div class="inner-section">
        <div class="bg-section parallax100"><span class="inner-parallax" style="background-image: url(assets/images/page-title-01.jpg);"></span></div>

        <div class="container">
            <h2 class="main-title">
                CART
            </h2>

            <ul class="breadcrumbs">
                <li>
                    <a href="#">
                        <span>Home</span>
                    </a>

                    <span class="breadcrumb-divider"></span>
                </li>

                <li>
                    <span> Cart</span>
                </li>
            </ul>	
        </div>
    </div>
</div>
<!-- end Page Title -->

<!-- Cart -->
<div class="hun-section-cart layout-1 show-space-bottom">
    <div class="inner-section set-color">
        <div class="container">
            <form class="hun-cart-form">
                <table>
                    <thead>
                        <tr>
                            <th class="product-remove"></th>
                            <th class="product-thumbnail"></th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>

                    <tbody *ngIf="items.length >0">
                        <ng-container *ngFor="let sp of items">
                            <tr class="kreen-cart-form__cart-item cart_item">
                                <td class="product-remove">
                                    <a href="javascript:void(0)" (click)="deleteCart(sp.iD_SP)"
                                       class="remove" aria-label="Remove this item" data-product_id="27"
                                       data-product_sku="885B712">×</a></td>
                                <td class="product-thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/sanpham/{{sp.anh_SP}}"
                                            class="attachment-kreen_thumbnail size-kreen_thumbnail"
                                            alt="img" width="600" height="778"></a></td>
                                <td class="product-name" data-title="Product">
                                    <a href="#">{{sp.ten_SP}}</a></td>
                                <td class="product-price" data-title="Price">
                                    <span class="kreen-Price-amount amount"><span
                                            class="kreen-Price-currencySymbol"></span>{{sp.gia | currency : "VNĐ"}}</span> </td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="quantity">
                                        <span class="qty-label">Số lượng:</span>
                                        <div class="control">
                                            <input type="text"
                                                    #soluong   (change)="addQty(sp,soluong.value)" title="Qty" [value]="sp.soluong" class="input-qty input-text qty text">
                                        </div>
                                    </div>
                                </td>
                                <td data-title="Subtotal">
                                    <strong><span
                                        class="kreen-Price-amount amount"><span
                                        class="kreen-Price-currencySymbol"></span>{{sp.money| currency : "VNĐ"}}</span></strong>
                                </td>
                            </tr>
                        </ng-container>                                
                        </tbody>
                        <tbody *ngIf="items.length ==0">
                            <ng-container>
                                <tr class="kreen-cart-form__cart-item cart_item">
                                    <td colspan="5" style="text-align: center;">
                                        Giỏ hàng rỗng
                                    </td>
                                </tr>
                            </ng-container>                                
                        </tbody>
                </table>
            </form>

            <div class="cart-collaterals">
                <div class="cart_totals">
                    <h2>Cart totals</h2>

                    <table class="shop_table shop_table_responsive">
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>
                                    Tổng giá
                                </th>

                                <td data-title="Subtotal">
                                    <strong><span
                                        class="kreen-Price-amount amount"><span
                                        class="kreen-Price-currencySymbol"></span>{{total}}</span>VNĐ</strong>
                                </td>
                            </tr>

                          
                        </tbody>
                    </table>

                    <div class="wc-proceed-to-checkout">
                        <a href="#" class="checkout-button">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Cart -->